*{
  height: -webkit-fill-available;
  margin: 0%;
}
body{
  background: #3A3A42;
  box-sizing: content-box;
}





.modal{
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom:0%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modalProject-content{
  width: 80%;
  height:fit-content;
  background-color: #3A3A42;;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  border-radius: 5px;
}

.modalProject-header{
  height: fit-content;
  text-align: end;
}

.modalProject-header .button-close{
  height: 30px;
  width: 30px;
  margin: 10px;
  color: black;
  background-color: red;
  border-radius: 4px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.modalProject-footer{
  text-align: center;
  height: auto;
  padding-top: 10px;
  padding-bottom:10px;
}

.modalProject-footer button{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  
  color: black;
}

.modalProject-footer button:hover{
  background-color: #107A8A;
  color: white;
}

.image-carousel{
  height: inherit;
  width: 400px;
}


.modalProject-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modalProject-body .left{
  height: auto;
  text-align: center;
}

.modalProject-body .left .modal-image-position{
  height: inherit;
  width: 400px;
}

.modalProject-body .right{
  width: 56%;
  padding: 2%;
}

.modalProject-body .right h1{
  text-align: center;
  padding-bottom: 1em;
  font-size: 45px;
}

.modalProject-body .right p{
  text-align: center;
  font-size: 20px;
}

.languages-section{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
  padding-top: 10%;
}


.modal-content{
  width: 340px;
  height: 210px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  border-radius: 5px;
  
}

.modal-header{
  background-image: url("./Images/checkfin.png");
  background-size: cover;
  background-position: center;
  width: 12%;
  margin-top: 10px;
}

.modal-header, .modal-footer{
  padding: 10px;
  align-self: center;
}



.modal-footer button{
  height: 35px;
  width: 90px;
  font-weight: bold;
  color: white;
  background-color: #107A8A;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.modal-title{
  margin: 0%;
  
}

.modal-body{
  padding: 10px;
  align-self: center;
  margin-top: 13px;
  color: black;
}

.modal-body h1{
  font-size: inherit;
}


.menu{
  position: fixed;
  height: 100vh;
  background:#107A8A;
  background-image: url('./Images/arrow.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  width: 10vw;
  box-shadow: 1px 0 2px rgba(0,0,0,.2);
  transition: 1s;
}
.menu:hover{
  width: 40vw;
  background-image: none;
  height: inherit;
}

.menu:hover ~ .container{
  transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1.2);
  
}

.menu:hover ~ .container .content {
  color: #beb8b8;
  transition: 1s;
}

.menu:hover ~ .container .content .home-body span{
  color: rgb(139, 226, 226);
  text-shadow: 0 0 2px rgb(29, 179, 216), 3px 5px #e4e2e2;
  
}

.menu:hover ~ .container .content .form-container{
  background-color:#64c1cfd3 ;
 
}

.menu:hover ~ .container .content .form-container form .button-submit{
  background-color: #beb8b8;
}

.menu:hover ~ .container .content .contact-body .form-container .left-form hr {
  border: 1px solid #beb8b8;
}

.menu:hover ~ .container .content .contact-body .form-container .left-form .social-field li {
  background-color: #beb8b8;
}

.menu:hover ~ .container .content .contact-body .form-container .left-field ul li svg {
  color: #beb8b8;
}

.menu:hover .nav{
  left: 20%;
  height: auto;
  width: 100%;
  height: unset;
}


.container{
  width: 90%;
  margin-left: 10vw;
  background-image: url("./Images/Walpaper1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition: 1s;
  transform-origin: left center;
  color: #D2D2D0;
  height: inherit;
}

.nav {
  position: absolute;
  left: -1000px;
  transition: 1s;
}


.nav .logo-position {
  text-align: center;
}

.nav .logo-position img{
  width: 0%;
}

.menu:hover .nav .logo-position img{
 
  width: 60%;
  margin-top: 10%;
}

.nav ul{
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  /*height: auto; */
}

.nav ul li {
  line-height: 2em;
  letter-spacing: .3em;
  padding: 3%;
}

.nav ul li a:hover {
  color: #3A3A42;
  transform: 1s;
}

.nav ul li a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.container .content{
  padding: 100px 20%;
  position: relative;
  height: -webkit-fill-available;
  color: black;
  overflow: auto;
}

.container .content .home-body{
  position: absolute;
  top: 25%;
  left: 2%;
  height: auto;
  padding: inherit;
  font-size: 20px;
}

.container .content .about-body p{
  font-size: 2vh;
}

.container .content .home-body span{
  color: #107A8A;
  text-shadow: 0 0 2px rgb(16 148 148), 5px 6px #bce4d8;
}


.container .content .about-body{
  position: absolute;
  top: 18%;
  left: 2%;
  right: 2%;
  height: auto;
  padding: inherit;
}

.container .content h1{
  height: auto;
  padding-bottom: 1vw;
      /* display: contents; */
}

.container .content .about-body p{
  padding-top: 2%;
}

.container .content .projects-body .grid-container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-bottom: 5%;
}

.container .content .projects-body .grid-container .grid-item1 {
  background-color: #f1f1f1;
  color: black;
  margin: 10px;
  flex: 25%;
  cursor: pointer;
  height: 250px;
  max-width: 250px;
  font-size: 30px;
  text-align: center;
  box-shadow:5px 6px darkgrey;
  border-radius: 3%;
}


.container .content .projects-body .grid-container .grid-item2:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  transition: opacity 1s ease-in-out;

}

.container .content .projects-body .grid-container .grid-item2:hover:before{
  opacity: 1;
  visibility: visible;
}

.container .content .projects-body .grid-container .grid-item3:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  transition: opacity 1s ease-in-out;

}

.container .content .projects-body .grid-container .grid-item3:hover:before{
  opacity: 1;
  visibility: visible;
}
.container .content .projects-body .grid-container .grid-item4:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  transition: opacity 1s ease-in-out;

}

.container .content .projects-body .grid-container .grid-item4:hover:before{
  opacity: 1;
  visibility: visible;
}
.container .content .projects-body .grid-container .grid-item5:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  transition: opacity 1s ease-in-out;

}

.container .content .projects-body .grid-container .grid-item5:hover:before{
  opacity: 1;
  visibility: visible;
}
.container .content .projects-body .grid-container .grid-item6:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  transition: opacity 1s ease-in-out;

}

.container .content .projects-body .grid-container .grid-item6:hover:before{
  opacity: 1;
  visibility: visible;
}

.container .content .projects-body .grid-container .grid-item1:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  transition: opacity 1s ease-in-out;

}

.container .content .projects-body .grid-container .grid-item1:hover:before{
  opacity: 1;
  visibility: visible;
}


.container .content .projects-body .grid-container .grid-item2 {
  background-color: blanchedalmond;
  color: black;
  margin: 10px;
  flex: 25%;
  cursor: pointer;
  height: 250px;
  max-width: 250px;
  text-align: center;
  box-shadow:5px 6px darkgrey;
  border-radius: 3%;

 
}
.container .content .projects-body .grid-container img{
  height: 150px;
  width: 200px;
  text-align: center;
}
.container .content .projects-body .grid-container .grid-item3 {
  background-color: blueviolet;
  color: black;
  margin: 10px;
  flex: 25%;
  cursor: pointer;
  height: 250px;
  max-width: 250px;
  text-align: center;
  box-shadow:5px 6px darkgrey;
  border-radius: 3%;
}

.container .content .projects-body .grid-container .grid-item4 {
  background-color: gray;
  color: black;
  margin: 10px;
  flex: 25%;
  cursor: pointer;
  height: 250px;
  max-width: 250px;
  text-align: center;
  box-shadow:5px 6px darkgrey;
  border-radius: 3%;
}
.container .content .projects-body .grid-container .grid-item5 {
  background-color: lightcoral;
  color: black;
  margin: 10px;
  flex: 25%;
  cursor: pointer;
  height: 250px;
  max-width: 250px;
  text-align: center;
  box-shadow:5px 6px darkgrey;
  border-radius: 3%;
}

.container .content .projects-body .grid-container .grid-item6 {
  background-color: gold;
  color: black;
  margin: 10px;
  flex: 25%;
  cursor: pointer;
  height: 250px;
  max-width: 250px;
  text-align: center;
  box-shadow:5px 6px darkgrey;
  border-radius: 3%;
}


.container .content .contact-body{
  height: auto;
}

.container .content .contact-body .form-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;

  height: auto;
  background-color: #107A8A;
  border-radius: 1%;
  box-shadow: 5px 6px darkgrey;
}

.container .content .contact-body .form-container form{
 width: 45%;
 font-weight: 500;
 color:white ; 
}

.container .content .contact-body .form-container form .form-control{
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}

.container .content .contact-body .form-container form .field{
  display: contents;
}

.container .content .contact-body .form-container form .form-control, textarea{
    /*max-width: 400px;*/
    background-color: #fff3f3;
    color: rgb(82, 73, 73);
    letter-spacing: 1px;
}

.container .content .contact-body .form-container form .form-control, textarea.form-control{
  height: auto;
}

.container .content .contact-body .form-container form .button-submit{
  width:108%;
  margin-top: 7%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: black;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.3s;
  border-color:black;
}

.container .content .contact-body .form-container form .button-submit:hover{
  color: #107A8A;
  box-shadow: inset 41vw 0 0 0 white;
}

.container .content .contact-body .form-container .left-form{
  align-self: center;
  padding: inherit;
}

.container .content .contact-body .form-container .left-field {
  max-width: 400px;
  font-weight: 500;
  color: white;
  padding-bottom: 2vw;
}

.container .content .contact-body .form-container .left-field ul{
list-style-type: none;
margin-left: -30px;
padding-right: 20px;
}
.container .content .contact-body .form-container .left-field ul li{
line-height: 3;
}
.container .content .contact-body .form-container .left-field ul li svg{
  color: black;
  font-size: 1em;
}

.container .content .contact-body .form-container .left-field ul li span{
  padding-left: 1em;
  }

.container .content .contact-body .form-container .field{
  margin: 12px 0px;
}

.container .content .contact-body .form-container .left-form hr{
  border: 1px solid black;
  
}

.container .content .contact-body .form-container .social-field{
  padding-top:2vw;
}

.container .content .contact-body .form-container .social-field ul{
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;

}

.container .content .contact-body .form-container .social-field li{
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 10px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.container .content .contact-body .form-container .social-field li a{
  color: white;
}


.container .content .contact-body .form-container .social-field li:hover{
  background-color: white;
  transition: 1s;
}

.container .content .contact-body .form-container .social-field li:hover .github{
  color: #3A3A42;
  transition: 1s;
}
.container .content .contact-body .form-container .social-field li:hover .linkedin{
  color: #107A8A;
  transition: 1s;
}
.container .content .contact-body .form-container .social-field li:hover .pdf{
  color: darkred;
  transition: 1s;
}

@media screen and (max-width:604px) {

  
  .nav .logo-position img{
    width: 200px;
  }

  

  .modalProject-body .left .modal-image-position {
    width: 250px;
  }
  
  .modalProject-body .left .modal-image-position .image-carousel{
    width: inherit;
  }

  .menu{
    width: 20vw;
  }
  
  .container{
    margin-left: 20vw;
  }

  /*
  .container .content{
    padding: 100px 15%;
  }
*/



.container .content .about-body {
  top: 10%;
}

.container .content .contact-body {
  margin: -15%;
}
  .container .content .contact-body .form-container .left-field ul li span {
    font-size: small;
  }
  
  .nav ul li a {
    font-size: 20px;
  }

  .menu:hover .nav{
    left: 10%;

  }
  

  .menu:hover {
    background-image: none;
    width: 50vw;
} 

  .menu .nav .logo-position img {
    width: 0%;
  }
  
  
  /*
  .menu:hover{
    width: 10px;
    background-image: none;
   
  }
  */

  .menu:hover ~ .container{
    transform: perspective(80vw) rotateY(10deg) translateX(40vw) scaleY(1.2);
  }


  .nav {
    position: absolute;
    left: -1000px;
    transition: .5s;
  }
  .nav ul li {
    letter-spacing: .1em;
  }

  .nav ul{
    /*padding: unset;*/
  }

  .container .content .home-body{
    top: 10%;
    left: 2%;
    font-size: 15px;
  }

  

  
}

@media screen and  (max-width: 1400px) {

  .container .content .projects-body .grid-container .grid-item1 {
    flex: 40%;
  }

  .container .content .projects-body .grid-container .grid-item2 {
    flex: 40%;
  }
  .container .content .projects-body .grid-container .grid-item3 {
    flex: 40%;
  }
  .container .content .projects-body .grid-container .grid-item4 {
    flex: 40%;
  }
  .container .content .projects-body .grid-container .grid-item5 {
    flex: 40%;
  }
  .container .content .projects-body .grid-container .grid-item6 {
    flex: 40%;
  }


  .modalProject-body{
    flex-direction: column;
    
  }


  .container .content .contact-body .form-container {
    flex-direction: column;

    height: fit-content;
  }
  
  .container .content .contact-body .form-container form .form-control, textarea.form-control {
    height: 30px;
  }

  .container .content .contact-body .form-container form {
    align-self: center;
    padding-right: 22px;
    width: 75%;
  }


  .container .content .contact-body .form-container .social-field {
    padding-top: 0%;
  }

  .container .content .contact-body .form-container .left-field {
    padding-bottom: 0%;
  }
}





@media screen and (max-width:760px) {

  .container .content .projects-body .grid-container .grid-item1 {
    flex: 100%;
  }

  .container .content .projects-body .grid-container .grid-item2 {
    flex: 100%;
  }
  .container .content .projects-body .grid-container .grid-item3 {
    flex: 100%;
  }
  .container .content .projects-body .grid-container .grid-item4 {
    flex: 100%;
  }
  .container .content .projects-body .grid-container .grid-item5 {
    flex: 100%;
  }
  .container .content .projects-body .grid-container .grid-item6 {
    flex: 100%;
  }

  .menu:hover .nav {
    left: 5%;
  }

  .container .content .contact-body .form-container .social-field li {
    display: table;
  }

  .container .content .contact-body .form-container .social-field ul{
    text-align: -webkit-center;
  }

  .container .content .contact-body .form-container .left-form hr {
    
    margin-left: 40px;
    margin-right: 40px;
    
  }

  .container .content .contact-body .form-container .left-field ul li {
    display: grid;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .container .content .contact-body .form-container .left-field ul li svg{
    place-self: center;
    font-size: 2em;
  }

  .container .content .contact-body .form-container .left-field ul li span{
    place-self: center;
    padding-left: 0;
  } 
  
 
}
